<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebGui.styles.css" />
    <link href="_content/HelloWorld.Presentation.Views.Blazor/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/HelloWorld.Presentation.Views.Blazor/css/app.css" rel="stylesheet" />
    <link href="_content/HelloWorld.Presentation.Views.Blazor.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <app>
        <HelloWorld.Presentation.WebGui.Client.EntryPoint />
    </app>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
