@typeparam TInput where TInput : IInputModel<TValue, TError>
@typeparam TValue
@typeparam TError
@inherits ModelComponentBase<IInputGroupModel<TInput,TValue, TError>>

<div @attributes="Attributes">
    @Label
    @Input(Model.Input)
    @Description
    @if(Model.Input.Validity == InputValidityType.Invalid)
    {
        @Error(Model.Input.ErrorValue)
    }
</div>